* {
  font-family: georgia, serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #748A9B;
}

#wrapper {
  width: 740px;
  height: auto;
  margin: auto;
  background: url('../images/background.gif');
}

#top {
  color: #FFFFFF;
  width: 750px;
  height: 105px;
  background: url('../images/top.jpg') no-repeat #92A5B4;
}

#top label {
  font-size: 12px;
  font-weight: bold;
}

#top ul {
  font-size: 11px;
  width: 380px;
  height: 48px;
  margin: 18px 15px 0px 0px;
  list-style: none;
  float: right;
}

#top ul li {
  display: inline;
}

#top p {
  width: 382px;
  height: 60px;
  text-align: left;
  margin-left: 348px;
}

#panels1-2 {
  width: 449px;
  height: 258px;
  background: url('../images/panel1-2.jpg') no-repeat;
  margin: 34px 0px 0px 30px;
  float: left;
}

#panel3 {
  width: 220px;
  height: 258px;
  background: url('../images/panel3.jpg') no-repeat;
  margin: 34px 0px 0px 25px;
  float: left;
}

#sidetxt h3{
  text-align: left;
  border-bottom: solid rgb(135,218,242) 1px;
}

#sidetxt {
  color: #FFFFFF;
  font-size: 15px;
  font-style: italic;
  text-align: justify;
  width: 208px;
  height: 520px;
  margin: 5px 32px;
  float: left;
  background: url('../images/tag.gif') no-repeat bottom;
  background-position: 40px 460px;
}
#txt h3 {
  font-size: 18px;
  text-align: left;
  border-bottom: solid rgb(135,218,242) 1px;
  width: 200px;
  height: 20px;
}

#txt {
  color: #FFFFFF;
  font-size: 13px;
  text-align: justify;
  width: 434px;
  margin-top: 3px;
  float: left;
}

#bottom {
  font-size: 14px;
  text-align: right;
  width: 434px;
  height: 20px;
  padding: 6px 8px 0px 0px;
  border-radius: 20px;
  background: url('../images/bottom.jpg');
}

a {
  color: rgb(135,218,242);	
}