body {
  width: 100%;
  background-color: #FFFFFF;
}

#header {
  z-index: 9999;
  position: sticky;
  top: 0;
}

#pagelogo {
  width: 138px;
  height: 41px;
  margin: 30px;
  background: url('../images/logo.webp') no-repeat;
  float: left;
}

#pagelogo span {
  display: none;
}

#menu {
  text-transform: capitalize;
  width: 94%;
  height: 110px;
  background-color: #FFFFFF;
  float: left;
}

#listamenu {
  font-size: 20px;
  width: 630px;
  height: 30px;
  margin: 40px;
  float: left;
}

#listamenu li {
  margin-left: 25px;
  display: inline;
}

#listamenu li span {
  background: url('../images/backgroundlist.png');
  background-position: 29px 5px;
  width: 16px;
  height: 25px;
  display: inline-block;
  position: relative;
  right: -8px;
}

#search {
  width: 6%;
  height: 110px;
  background-color: #FF4A52;
  float: left;
}

#banners h1{
  color: #FFFFFF;
  font: 140px 'Dancing Script', cursive;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 31%;
}

#banners h2 {
  color: #FFFFFF;
  font: 20px arial, sans-serif;
  text-align: center;
  position: absolute;
  top: 64%;
  left: 35%;
}

#banners button {
  color: #FFFFFF;
  font: 15px arial, sans-serif;
  font-weight: bold;
  width: 178px;
  height: 60px;
  background-color: #1EC6B6;
  border-radius: 5px;
  position: absolute;
  top: 75%;
  left: 43%;
}

#banners img {
  width: 100%;
  height: 650px;
  position: relative;
}
	
#div1 {
  width: 100%;
  height: 150px;
  background-color: #040E27;
}

#div1 h3 {
  color: #FFFFFF;
  font: 25px sans-serif;
  width: 290px;
  height: 25px;
  margin: 60px 10px 0px 90px;
  position: absolute;
  float: left;
}

input#local {
  color: #FFFFFF;
  font: 17px arial, sans-serif;
  width: 220px;
  height: 50px;
  border: 1px #757575 solid;
  border-radius: 5px;
  background-color: #040E27;
  margin: 50px 30px 0px 390px;
  padding-left: 10px;
  position: absolute;
  float: left;
}

input#local::placeholder {
  font: 17px arial, sans-serif;
}

input#date {
  color: #FFFFFF;
  font: 17px arial, sans-serif;
  width: 220px;
  height: 50px;
  border: 1px #757575 solid;
  border-radius: 5px;
  background-color: #040E27;
  margin: 50px 30px 0px 620px;
  padding-left: 10px;
  position: absolute;
  float: left;
}

input#date::placeholder {
  font: 17px arial, sans-serif;
}

#traveltype {
  color: #757575;
  font: 17px arial, sans-serif;
  width: 220px;
  height: 50px;
  border: 1px #757575 solid;
  border-radius: 5px;
  background-color: #040E27;
  margin: 50px 30px 0px 850px;
  padding-left: 10px;
  position: absolute;
  float: left;	
}

#button2 {
  color: #FFFFFF;
  font: 17px arial, sans-serif;
  font-weight: bold;
  width: 134px;
  height: 50px;
  background-color: #FF4A52;
  margin: 50px 30px 0px 1080px;
  border-radius: 5px;
  position: absolute;
}

#div2 {
  width: 100%;
  height: 900px;
  background-color: #FFFFFF;
}

#div2 h3 {
  font: 38px arial, sans-serif;
  text-align: center;
  margin-top: 150px;
}

#div2 #ptitle {
  color: #7A838B;
  font: 17px arial, sans-serif;
  width: 500px;
  height: 42px;
  margin-top: 20px;
  margin-left: 426px;
  text-align: center;
}

#image1 {
  width: 350px;
  height: 263px;
  margin-top: 70px;
  margin-left: 120px;
  border-radius: 5px;
  float: left;
  background: url('../images/imageplace1.webp');
}

.imagep {
  color: #FFFFFF;
  font: 12px arial, sans-serif;
  width: 54px;
  height: 20px;
  background-color: #1EC6B6;
  border-radius: 30px;
  margin-left: 15px;
  margin-top: 208px;
  padding: 5px 10px 0px;  
  float: left;
}

#image1 h3 {
  color: #FFFFFF;
  font: 22px arial, sans-serif;
  font-size: 22px;
  margin-top: 208px;
  margin-left: 30px;
  float: left;
}

#image2 {
  width: 350px;
  height: 263px;
  margin-top: 70px;
  margin-left: 30px;
  border-radius: 5px;
  float: left;
  background: url('../images/imageplace2.webp');
}

#image2 h3 {
  color: #FFFFFF;
  font: 22px arial, sans-serif;
  font-size: 22px;
  margin-top: 208px;
  margin-left: 30px;
  float: left;
}

#image3 {
  width: 350px;
  height: 263px;
  margin-top: 70px;
  margin-left: 30px;
  border-radius: 5px;
  float: left;
  background: url('../images/imageplace3.webp');
}

#image3 h3 {
  color: #FFFFFF;
  font: 22px arial, sans-serif;
  font-size: 22px;
  margin-top: 208px;
  margin-left: 30px;
  float: left;
}

#image4 {
  width: 350px;
  height: 263px;
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 5px;
  float: left;
  background: url('../images/imageplace4.webp');
}

#image4 h3 {
  color: #FFFFFF;
  font: 22px arial, sans-serif;
  font-size: 22px;
  margin-top: 208px;
  margin-left: 30px;
  float: left;
}

#image5 {
  width: 350px;
  height: 263px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
  float: left;
  background: url('../images/imageplace5.webp');
}

#image5 h3 {
  color: #FFFFFF;
  font: 22px arial, sans-serif;
  font-size: 22px;
  margin-top: 208px;
  margin-left: 30px;
  float: left;
}

#image6 {
  width: 350px;
  height: 263px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
  float: left;
  background: url('../images/imageplace6.webp');
}

#image6 h3 {
  color: #FFFFFF;
  font: 22px arial, sans-serif;
  font-size: 22px;
  margin-top: 208px;
  margin-left: 30px;
  float: left;
}

#div3 {
  width: 100%;
  height: 230px;
  background: url(../images/newsletter.webp);
  opacity: .7;
}

#div3 h3 {
  font: 24px arial, sans-serif;
  width: 310px;
  height: 20px;
  margin-top: 72px;
  margin-left: 214px;  
  float: left;
}

#div3 p {
  font: 16px arial, sans-serif;
  width: 366px;
  margin-top: 112px;
  margin-left: 214px;
  float: initial;
  position: absolute;
}

#div3 input {
  font: 17px arial, sans-serif;
  width: 384px;
  height: 50px;
  margin-left: 610px;
  padding-left: 10px;
  border-radius: 5px;
  float: left;
  position: inherit;
  bottom: 90px;
}

#div3 button {
  color: #FFFFFF;
  font: 17px arial, sans-serif;
  width: 132px;
  height: 50px;
  background-color: #FF4A52;
  margin-right: 213px;
  border-radius: 5px;
  float: right;
  position: inherit;
  bottom: 90px;  
}

#div4 {
  width: 100%;
  height: 1288px;
  background-color: #F7FAFD;
}

#div4 #h3title {
  font: 38px arial, sans-serif;
  text-align: center;
  padding-top: 150px;
}

#div4 #pdiv4title {
  text-align: center;
  font: 17px arial, sans-serif;
  width: 500px;
  height: 42px;
  margin-top: 20px;
  margin-left: 426px; 
}

#div4 div#place1 {
  width: 350px;
  height: 334px;
  margin-top: 70px;
  margin-left: 120px;
  border-radius: 5px;
  float: left;
  position: relative;  
  background: #FFFFFF url('../images/place1.webp') no-repeat;
}

.place2-3 {
  width: 350px;
  height: 334px;
  margin-top: 70px;
  margin-left: 30px;
  border-radius: 5px;
  float: left;
  position: relative;
}

#div4 div#place2 {
  background: #FFFFFF url('../images/place2.webp') no-repeat;
}

#div4 div#place3 {
  background: #FFFFFF url('../images/place3.webp') no-repeat;
}

#div4 div#place4 {
  width: 350px;
  height: 334px;
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 5px;
  float: left;
  position: relative;
  background: #FFFFFF url('../images/place4.webp') no-repeat;
}

.placeclass {
  width: 350px;
  height: 334px;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 5px;
  float: left;
  position: relative;
}

#div4 div#place5 {
  background: #FFFFFF url('../images/place5.webp') no-repeat;
}

#div4 div#place6 {
  background: #FFFFFF url('../images/place6.webp') no-repeat;
}

.h3div4 {
  color: #040E27;
  text-decoration: none;
  font: 22px arial, sans-serif;
  padding-top: 230px;
  margin-left: 20px;
  float: left;
  position: absolute;
}

.h3div4:hover {
	color: #FF4A52;
}

.pricediv4 {
  color: #FFFFFF;
  font: 16px arial, sans-serif;
  width: 38px;
  height: 26px;
  background-color: #1EC6B6;
  border-radius: 30px;
  padding: 9px 20px 0px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  position: inherit;
}

.pdiv4 {
  color: #7A838B;
  font: 14px arial, sans-serif;
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.pdaysdiv4 {
  color: #7A838B;
  font: 14px arial, sans-serif;
  position: absolute;
  bottom: 26px;
  right: 20px;
}

.previewdiv4 {
  color: #7A838B;
  font: 14px arial, sans-serif;
  position: absolute;
  bottom: 26px;
  left: 82px;
}

.iconstar1 {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 27px;
  left: 20px;
}

.iconstar2 {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 27px;
  left: 32px;
}

.iconstar3 {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 27px;
  left: 44px;
}

.iconstar4 {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 27px;
  left: 56px;
}

.iconstar5 {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 27px;
  left: 68px;
}

.clock {
  width: 13px;
  height: 13px;
  position: absolute;
  bottom: 27px;
  right: 75px;  
}

#div4 button{
  color: #FFFFFF;
  font: 16px arial, sans-serif;
  font-weight: bold;
  width: 172px;
  height: 50px;
  margin-top: 70px;
  margin-left: 590px;
  background-color: #FF4A52;
  border-radius: 5px;
  float: left;
}

#div5 {
  width: 100%;
  height: 610px;
  background: url('../images/bannervideo.webp');
}

#div5 #titlevideo {
  color: #FFFFFF;
  font: 80px 'Dancing Script', cursive;
  text-align: center;
  padding-top: 175px;
}

#div5 #play {
  color: #FFFFFF;
  font-size: 20px;
  width: 48px;
  margin-top: 40px;
  margin-left: 633px;
  padding: 27px 0px 26px 30px;
  background-color: #1EC6B6;
  border-radius: 100px;
}

#div6 {
  width: 1010px;
  height: 485px;
  margin: auto;
  background-color: #FFFFFF;
}

#div6 .h3logo {
  font: 22px arial, sans-serif;
  text-align: center;
  width: 275px;
  margin-top: 105px;
  float: left;
}

#div6 .plogo {
  color: #6E6E6E;
  font: 16px arial, sans-serif;
  text-align: center;
  padding-top: 145px;
  line-height: 25px;   
}

#div6 .divlogoclass {
  width: 276px;
  height: 300px;
  margin: 152px 30px 0px;
  background-position: center top;
  background-repeat: no-repeat;
  float: left;
}

#div6 #divlogo1 {
  background-image: url('../images/logo1.svg');
}

#div6 #divlogo2 {
  background-image: url('../images/logo2.svg');
}

#div6 #divlogo3 {
  background-image: url('../images/logo3.svg');
}

#div7 {
  width: 100%;
  height: 550px;
  background-color: #F7FAFD;
}

#div7 #commdiv1 {
  width: 50%;
  margin: auto;
  padding-top: 140px;
}

#div7 img {
  width: 110px;
  height: 110px;
  margin: auto;
  display: block;
  border-radius: 100px;
}

#div7 #commdiv1 span {
  color: #FFFFFF;
  font: 30px arial, sans-serif;
  width: 5px;
  height: 35px;
  margin-left: 358px;
  margin-top: -40px;
  padding: 15px 27px 0px 20px;
  background-color: #1EC6B6;
  border-radius: 100px;
  position: absolute;
  display: block;
}

#div7 #title {
  font: 18px arial, sans-serif;
  line-height: 32px;
  text-align: center;
  width: 630px;
  height: 54px;
  margin: 30px auto;
}

#div7 #name {
  color: #7A838B;
  font: 16px arial, sans-serif;
  text-align: center;
  margin-top: 40px;
}

#div8 {
  width: 100%;
  height: 630px;
}

#div8 h3 {
  font: 39px arial, sans-serif;
  text-align: center;
  margin-top: 160px;
}

#div8 #imgdiv1 {
  margin-top: 70px;
  margin-left: 120px;
  width: 362px;
  height: 370px;
  float: left;
}

#div8 #imgdiv1 {
  margin-top: 70px;
  margin-left: 110px;
  width: 362px;
  height: 370px;
  float: left;
}

#div8 #imgdiv1 .divimg {
  border-radius: 5px;
}

#div8 #imgdiv1 p {
  color: #7A838B;
  margin-top: 16px;
}

#div8 #imgdiv1 .titlepdiv {
  color: #040E27;
  font: 22px arial, sans-serif;
  margin-top: 10px;
}

#div8 .imgdiv2_3 {
  margin-top: 70px;
  margin-left: 30px;
  width: 362px;
  height: 370px;
  float: left;
}

#div8 .imgdiv2_3 .divimg {
  border-radius: 5px;
}

#div8 .imgdiv2_3 p {
  color: #7A838B;
  margin-top: 16px;
}

#div8 .imgdiv2_3 .titlepdiv {
  color: #040E27;
  font: 22px arial, sans-serif;
  margin-top: 10px;
}

#div9 {
  width: 100%;
  height: 593px;
  background-color: #040E27;
}

#div9 #div9_1 {
  width: 350px;
  height: 272px;
  float: left;
}

#div9 #div9_1 #img1_9 {
  margin-top: 116px;
  margin-left: 120px;
}

#div9 #div9_1 #p1 {
  color: #AAB1B7;
  font: 14px arial, sans-serif;
  line-height: 25px;
  margin-top: 40px;	
  margin-left: 120px;
}

#div9 #div9_2 {
  width: 90px;
  margin-top: 118px;
  margin-left: 160px;
  float: left;
}

#div9 #div9_2 h3 {
  color: #FFFFFF;
  font: 20px arial, sans-serif;
}

#div9 #div9_2 ul {
  color: #AAB1B7;
  font: 14px arial, sans-serif;
  line-height: 35px;
  margin-top: 36px;
}

#div9 #div9_3 {
  width: 285px;
  margin-top: 118px;
  margin-left: 100px;
  float: left;
}

#div9 #div9_3 h3 {
  color: #FFFFFF;
  font: 20px arial, sans-serif;
}

#div9 #div9_3 ul {
  color: #AAB1B7;
  font: 14px arial, sans-serif;
  width: 200px;
  height: 185px;
  margin-top: 36px;
}

#div9 #div9_3 ul li {
  width: 100px;
  height: 30px;
  line-height: 40px;
  float: left;
}

#div9 #div9_4 {
  width: 270px;
  height: 185px;
  margin-top: 118px;
  float: left;
}

#div9 #div9_4 h3 {
  color: #FFFFFF;
  font: 20px arial, sans-serif;
}

#div9 #div9_4 ul {
  width: 265px;
  height: 168px;
  margin-top: 40px;
}

#div9 #div9_4 ul li {
  width: 75px;
  height: 75px;
  display: inline
}

#div9 #div9_4 ul li img {
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

#div9 #footer {
  width: 1110px;
  height: 82px;
  margin-top: 148px;
  margin-left: 120px;
  border-top: 1px #AAB1B7 solid;
  float: left;
}

#div9 #footer p {
  color: #AAB1B7;
  font: 14px arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}

#div9 #footer p a {
  color: #FF4A52;
  text-decoration: none;
}